body{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Castoro', serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    margin-top: 231px;
    font-size: 47px;
}
.first-pera{
    color: gray;
    font-size: smaller;
}
.orange{
    color: orange;
}
.first-section{
 display: flex;
    
}
.half-side{
    width: 50%;
   
}
.half-side img{
    width: 100%;
    
}
.leftContent {
    margin-left: 150px;
}

.leftContent h1 {
    font-size: 51px;
    line-height: 75px;
}
.section1-button{
    
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 102, 0),red);
    padding: 20px 30px;
    border-radius: 40px;
    color: white;
    font-weight: 400px;
    font-size: smaller;
}
.color{
    color: gray;
}
.about{
    display: flex;
    margin-top: 100px;
    
}
.right-content{
    margin-left: 150px;
}
.right-content img{
    margin-top: 50px;
    width: 60%;
}
h2{
    margin-top: 150px;
    font-size: 45px;
}
.secound-pera{
    margin-right: 100px;
}
.background{
    background-image: url(food-network-main/images/shapes/Frame\ 58.jpg);
}